<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Comment</h2>
    <ul>
        <% for(const comment of comments){ %>
           <li> <%= comment.id%> <strong><%= comment.user%></strong> <%= comment.text %> </li>
        <% } %>
    </ul>

    <a href="comments/new"><button>Add new Comment</button></a>
</body>
</html>