section {
    height: 200px;
    width: 300px;
    border: 1px solid black;
    background-color: salmon;
    animation-name: slider;
    animation-duration:2s;
    animation-iteration-count: 2;
    animation-direction:alternate-reverse;
}

@keyframes slider {
    25% {
        width:400px;
        height:100px;
        border-radius: 50%;
        background-color: antiquewhite;
    }
    50% {
        width: 600px;
        height:150px;
        border-radius: 25%;
        background-color: brown;
    }
    70% {
        width:700px;
        height:300px;
        border-radius: 70%;
        background-color: darkkhaki;
    }
    100% {
        width:100%;
        height:540px;
        border-radius: 10%;
        background-color: aquamarine;
    }
}

.animators {
    display: inline-block;
    border: 1px solid black;
    height: 100px;
    width:200px;
    animation-timing-function:cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: fun;
}

@keyframes fun {
    25% {
        border-radius: 50%;
    } 
}

.animators:nth-of-type(1) {
    background-color: aqua;
}
.animators:nth-of-type(2) {
    background-color: blueviolet;
}
.animators:nth-of-type(3) {
    background-color: slateblue;
}
.animators:nth-of-type(4) {
    background-color: forestgreen;
}

.image {
    height:300px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 150px;
    animation-name: bounce;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}
.image img {
    width: 100%;
    height: 100%;
}

@keyframes bounce {
    0%, 20%, 40%, 60%, 80% {
        transform: translateY(0);
    } 
    10%,30%,50%,70%,90%{
        transform: translateY(-100px);
    }
}

h1 {
    text-align: center;
    animation-name: loader;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes loader {
    10%,30%,50%,70%,90% {
        opacity: 0.4;
    }
    20%,40%,60%,80%,100% {
        opacity: 0.9;
    }
}

.shadow{
    border: 1px solid black;
    width:10px;
    height:1px;
    box-shadow: 0px 0px 10px black;
    opacity: 0.5;
    animation-name: shad;
    animation-duration: 6s;
    animation-timing-function:  ease-in-out; 
    animation-iteration-count: infinite;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: black;
    border-radius: 50%;
}

@keyframes shad {
    0%, 20%, 40%, 60%, 80%,100% {
        width:200px;
        height: 3px;
        /* border-radius: ; */
    } 
    10%,30%,50%,70%,90%{
        
        width: 10px;
        height: 1px;
    }
}

.loader-back {
    border: 4px solid black;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: linear-gradient(90deg, rgb(228, 93, 8), rgb(245, 203, 65));
    /* background-color: antiquewhite; */
    margin-left: auto;
    margin-right: auto;
    display: block;
    animation-name: rotate;     
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.loader-front {
    border: 4px solid rgb(0, 0, 0);
    background: linear-gradient(45deg, rgb(246, 194, 24), rgb(226, 115, 4));
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    justify-content: center;
    margin-top:19px;
}
@keyframes rotate {
    50% {
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0);
    }
}